[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
encore-api-cli = {editable = true,path = "."}
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests-mock = "*"
tox = "*"

[packages]
click = ">=7.0"
pygments = "*"
requests = "*"
tabulate = "*"
yaspin = "*"

[scripts]
test = 'pytest tests/unit -v --cov=encore_api_cli --cov-report=html'
build = 'python setup.py sdist bdist_wheel'

[pipenv]
allow_prereleases = true
