[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
encore-api-cli = {editable = true,path = "."}
flake8 = "*"
hacking = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-watch = "*"
requests-mock = "*"
yapf = "*"
bandit = "*"
tox = "*"

[packages]
click = "*"
requests = "*"

[scripts]
test = 'pytest tests/unit -v --cov=encore_api_cli --cov-report=html'
