[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
encore-api-cli = {editable = true,path = "."}
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-watch = "*"
requests-mock = "*"
yapf = "*"

[packages]
click = "*"
requests = "*"

[requires]
python_version = "3.7"
