[tool.poetry]
name = "anymotion-cli"
version = "1.0.1"
description = "Command Line Interface for AnyMotion API"
authors = ["Yusuke Kumihashi <y_kumiha@nttpc.co.jp>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/nttpc/anymotion-cli"
homepage = "https://github.com/nttpc/anymotion-cli"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8"
]

[tool.poetry.dependencies]
python = "^3.6"
anymotion-sdk = "~1.0"
click = "^7.1.1"
click_help_colors = "^0.6"
click_repl = "^0.1.6"
pygments = "^2.6.1"
requests = "^2.23.0"
tabulate = "^0.8.6"
yaspin = "^0.16.0"

[tool.poetry.dev-dependencies]
bandit = "^1.6.2"
black = "^19.10b0"
coverage = "^5.0.3"
flake8 = "^3.7.9"
flake8-docstrings = "^1.5.0"
isort = "^4.3.21"
mypy = "^0.770"
pytest = "^5.3.5"
pytest-cov = "^2.8.1"
pytest-mock = "^2.0.0"
requests-mock = "^1.7.0"
tox = "^3.14.3"

[tool.poetry.scripts]
amcli = "anymotion_cli.core:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
